{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<div class="ui segment">
  <!-- <div class="ui form loading"> -->
  <form v-on:submit.prevent="onSubmit" v-bind:class="{success:status, loading: loading}" class="ui form">
    <div class="fields">
      <div v-bind:class="{error:!validations.clientName.is_valid}" class="four wide field">
        <label>Client name
          <span v-if="!validations.clientName.is_valid" class="ui pointing below basic red label">$[ validations.clientName.text ]$</span>
        </label>
        <input type="text" placeholder="Client Name" @keyup.enter="handleValidation" v-model="clientName">
      </div>
      <div class="four wide field">
        <label>Risk</label>
        <select class="ui search dropdown" v-model="riskType">
          <option v-for="option in riskTypes" v-bind:value="option.id" :key="option.id">
            $[ option.name ]$
          </option>
        </select>
      </div>
      <div class="eight wide field">
        <div class="fields" v-for="(field, key) in selection">
          <div class="eight wide field">
            <label>Field</label>
            <select class="ui search dropdown" v-model="selection[key].field" >
              <option v-for="option in fieldTypes" v-bind:value="option.id" :key="option.id">
                $[ option.name ]$
              </option>
            </select>
          </div>
          <div v-bind:class="{error:!validations.fields[key].value.is_valid}" class="eight wide field">
            <label>Value <span v-if="!validations.fields[key].value.is_valid" class="ui pointing below basic red label">$[(validations.fields[key].value.text)]$</span></label>
            <input v-if="getField(selection[key].field) === 'email'" type="email" placeholder="Email" v-model="selection[key].value">
            <input v-else-if="getField(selection[key].field) === 'date'" type="date" v-model="selection[key].value">
            <input v-else-if="getField(selection[key].field) === 'time'" type="time" v-model="selection[key].value">
            <input v-else-if="getField(selection[key].field) === 'number'" type="number" v-model="selection[key].value">
            <input v-else-if="getField(selection[key].field) === 'url'" type="url" v-model="selection[key].value">
            <input v-else="getField(selection[key].field) === 'text'" type="text" v-model="selection[key].value">
          </div>
        </div>
        <br>
        <button class="mini ui basic button" type="button" v-on:click="addField">
          <i class="plus circle icon"></i> New Field
        </button>
      </div>
    </div>
    <button class="ui orange submit button right floated">Submit</button>
    <br>
    <br>
    <br>
    <div class="ui success message" style="text-align: center;">
      <div class="header"><i class="icon big smile outline"></i>Successful</div>
      <p>You have successfully recorded a Risk Insurance.</p>
    </div>
  </form>

  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Recorded Insurance
  </h4>

  <table class="ui very basic celled table full-width">
    <thead>
      <tr><th>Client Name</th>
      <th>Risk Type</th>
      <th>Risk Information</th>
    </tr></thead>
    <tbody>
      {% for risk in risks %}
      <tr>
        <td>
          <h4 class="ui image header">
            <i class="user outline icon"></i>
            <div class="content">
              {{risk.client_name}}
              <!-- <div class="sub header">Human Resources
            </div> -->
          </div>
        </h4></td>
        <td>
          {{risk.risk_type.name}}
        </td>
        <td>
          {% for field in risk.field.all %}
          <div style="margin-bottom:5px">
            <span class="ui small blue tag label">{{field.field_type.name}}</span> {{field.value}}<br>
          </div>
          {% endfor %}
        </td>
      </tr>
      {% empty %}
        <tr>
          <td>
            <h4 class="ui image header">
              <div class="content">
                Matthew
                <div class="sub header">Fabric Design
              </div>
            </div>
          </h4></td>
          <td>
            15
          </td>
          <td>
              <div style="margin-bottom:5px">
                <span class="ui small blue tag label">Age</span> 18<br>
              </div>
              <div style="margin-bottom:5px">
                <span class="ui small blue tag label">Type</span> Another one<br>
              </div>
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="ui  grid">
    <div class="fourteen wide tablet four wide computer column centered">
      <div class="ui pagination menu center aligned ">
        <a class="item">
          <i class="backward icon"></i>
        </a>
        <a class="active item">
          Page 1 of 20
        </a>
        <a class="item">
          <i class="forward icon"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock main_content %}